$primary-color: #004368;
$secondary-color: #0b0b0b;
$accent-color: #84ccdd;
$bg-color: #F1F8FD;
$link-color: darkblue;
$link-hover-color: darkblue;

$footer-bg-color: #222;
$footer-color: #fff;
$footer-link-color: red;
