$primary-color: #222;
$bg-color: #ccc;
$link-color: darkblue;
$header-bg-color: #222;
$header-color: #fff;
$header-link-color: rgb(253, 209, 209);

$footer-bg-color: #222;
$footer-color: #fff;
$footer-link-color: red;
