@media only screen and (max-width: 600px) {
    #products {
        grid-template-columns: auto auto;
        gap: 0;
    }
    .main-event {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    main {
        padding: 0;
    }
  }
