/* Error: expected "{".
 *   ,
 * 1 | font-family: Arial, sans-serif;
 *   |                               ^
 *   '
 *   css/fonts.scss 1:31  @import
 *   css/styles.scss 3:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 1 \2502  font-family: Arial, sans-serif;\a   \2502                                ^\a   \2575 \a   css/fonts.scss 1:31  @import\a   css/styles.scss 3:9  root stylesheet';
}
