@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;800&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Gabarito", sans-serif;
}

body {
  background-color: #e6f1f6;
  font-family: "Gabarito", sans-serif, Helvetica, Arial, sans-serif;
  color: #004368;
}

header {
  background-color: #004368;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #f7fcff;
}
header .logo-text {
  font-family: "Gabarito", sans-serif;
  font-size: 150%;
  font-weight: 800;
}
header svg {
  fill: #fff;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

header a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

#logo a {
  text-decoration: none;
  padding: 2rem;
}

main {
  padding: 3rem 5rem 15rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #eefaff;
}

a {
  color: darkblue;
}

a:hover {
  color: #84ccdd;
}

a.active {
  color: #84ccdd;
}

#menu {
  margin: 0;
  justify-content: space-between;
  line-height: 2.2rem;
}
#menu span {
  display: inline;
  padding-right: 1rem;
}

h1 {
  font-family: "Gabarito";
  margin-top: 0;
}

picture {
  width: 50%;
  height: auto;
}
picture img {
  width: 50%;
  height: auto;
}

#products {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4rem;
  margin: 0 auto;
}
#products a:hover {
  color: darkblue;
}
#products img:hover {
  opacity: 0.8;
}
#products div {
  display: inline-grid;
}
#products div picture {
  aspect-ratio: 5/3;
  border-radius: 0.3rem;
  width: 100%;
  object-fit: cover;
}
#products div picture img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 5/3;
}
#products .main-event {
  grid-column-start: 1;
  grid-column-end: 3;
}
#products .product {
  background-color: #fff;
  line-height: 1.7;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 18px -10px #c5d1d8;
  width: calc(100% - 2rem);
}
#products .product:hover {
  border-color: #004368;
  box-shadow: 10px 10px 18px -10px #8d8d8d;
}
#products .product:hover button {
  background-color: #222;
}
#products .product__name {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  font-family: "Gabarito", sans-serif;
  font-weight: 800;
}
#products .product__category {
  font-weight: 600;
  border-radius: 1rem;
}
#products .product__price {
  color: #666;
  font-weight: 600;
}
#products .product__description {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#products .product__link {
  color: gray;
  display: inline;
}
#products .product button {
  margin-top: 1rem;
  padding: 0.75rem 1.65rem;
  background-color: #004368;
  border: 0;
  border-radius: 1rem;
  color: #e6f1f6;
  font-weight: 800;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-family: "Gabarito", sans-serif;
}
#products a {
  color: #004368;
}

.product-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.product-view__product-images {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  width: calc(100% - 4rem);
  display: inline-grid;
  grid-column-start: 1;
  grid-column-end: 2;
}
.product-view__product-images img {
  width: 100%;
  border-radius: 1rem;
}
.product-view__product-information {
  background-color: #fff;
  border-radius: 1.5rem;
  display: inline-grid;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 1rem 3rem 2rem;
  width: calc(100% - 6rem);
}
.product-view__product-information p {
  margin: 0.75rem 0;
}
.product-view__product-information .name {
  font-size: 190%;
}
.product-view__product-information .price {
  font-weight: 600;
  font-size: 150%;
  color: #0b0b0b;
}
.product-view__product-information .category {
  font-weight: 600;
  text-transform: uppercase;
}
.product-view__product-information button {
  padding: 1rem 2rem;
  background-color: #004368;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 1rem;
  margin: 2rem 0;
  font-size: 110%;
  cursor: pointer;
}
.product-view__product-information button:hover {
  background-color: #0b0b0b;
}

form {
  margin-top: 3rem;
}

fieldset {
  border: 1px solid lightblue;
  background: rgba(255, 255, 255, 0.5);
}

legend {
  font-weight: 600;
  font-size: 140%;
}

.form-div {
  padding: 1rem;
}
.form-div input, .form-div textarea {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: 1px solid lightblue;
  border-radius: 0.5rem;
  color: #004368;
  font-weight: 600;
}
.form-div label {
  display: block;
  font-weight: bold;
}
.form-div button {
  padding: 1rem 2rem;
  background-color: #004368;
  color: #e6f1f6;
  border: 0;
}

.upload-area {
  display: block;
}

input[type=file] {
  width: 80%;
  color: #fff;
}

.img-upload-area {
  background-color: #004368;
  padding: 2rem 1rem;
  width: 20%;
  display: inline-block;
  color: #fff;
}

footer {
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: 110%;
}

footer {
  color: #fff;
  background-color: #004368;
}

footer a {
  color: #84ccdd;
}

@media only screen and (max-width: 800px) {
  main {
    margin: 1rem;
    padding: 0;
    background-color: unset;
  }
  #products {
    grid-template-columns: auto auto;
    gap: 1.5rem;
    width: calc(100% - 2rem);
  }
  .product {
    width: calc(100% - 3rem) !important;
  }
  .main-event {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .upload-area {
    display: block;
  }
  .img-upload-area {
    width: 90%;
    display: block;
    margin: 1rem 0;
  }
  #products .product button {
    padding: 0.75rem 1.5rem;
  }
  picture {
    width: 100%;
  }
  picture img {
    width: 100%;
  }
  fieldset {
    width: calc(100% - 4rem);
  }
  textarea {
    width: calc(100% - 2rem);
  }
  .form-div {
    padding: 0;
    margin: 1rem 0;
  }
  .product-view__product-information {
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
  }
  .product-view__product-images {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .product-view__product-information {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .product-view {
    grid-template-columns: 1fr;
    gap: 0;
    width: unset;
  }
}
@media only screen and (max-width: 400px) {
  #products, .product-view {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: unset;
  }
  .product-view {
    grid-template-columns: 1fr;
    gap: 0;
    width: unset;
  }
  .product-view__product-images {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .product-view__product-information {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .product {
    width: calc(100% - 3rem) !important;
  }
  .main-event, .product, .product-view__product-images {
    grid-column-start: 1;
    grid-column-end: 2 !important;
  }
  .product-view__product-information {
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
  }
  main {
    padding: 0;
    background-color: unset;
  }
}
/* Top menu from https://codepen.io/alvarotrigo/pen/ExwgbZv */
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 2rem;
  padding: 2em 5rem;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 7rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    padding: 2.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    line-height: 0;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/*# sourceMappingURL=styles.css.map */
