@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;800&display=swap');

@import "colors";
@import "fonts";


// Reset of html and body
html, body {
    margin: 0;
    padding: 0;
    font-family: "Gabarito";;
}
body {
    background-color: $bg-color;
    font-family: "Gabarito", $primary-fonts;
    color: $primary-color;
}
header {
    background-color: $primary-color;
    color: $bg-color;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    padding: 1.3rem;
    svg {
        fill: #fff;
        display: inline-block;
        height: 40px;
        vertical-align: middle;
        margin-right: 0.5rem;
    }
}
header a {
    color: $accent-color;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}
header .logo-text {
    font-family: "Gabarito";
    font-size: 150%;
    font-weight: 800;
}
#logo a {
    text-decoration: none;
    padding: 2rem;
}
main {
    padding: 3rem;
}
a {
    color: $link-color;
}
a:hover {
    color: $accent-color;
}
a.active {
    color: yellow;
}

#menu {
    list-style: none;
    margin: 0;
    line-height: 2.2rem;
    li {
        display: inline;
        padding-right: 1rem;
    }
}

h1 {
    font-family: "Gabarito";
}


#products {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    a:hover {
        color: $link-hover-color;
    }
    img:hover {
        opacity: 0.8;
    }
    div {
        display: inline-grid;
        img {
            width: 100%;
            border-radius: 0.3rem;
        }
    }
    .main-event {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .product {
        background-color: #fff;
        line-height: 1.7;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 10px 10px 18px -10px #addffb;
        &:hover {
            border-color: $primary-color;
            box-shadow: 10px 10px 18px -10px #8d8d8d;
            button {
                background-color: #222;
            }
        }
        &__name {
            font-weight: bold;
            font-size: 1.3rem;
            padding-bottom: 0.5rem;
            font-family: $secondary-font;
            font-weight: 800;
        }
        &__category {
            font-weight: 600;
            border-radius: 1rem;
        }
        &__price {
            color: #666;
        }
        &__description {
            font-size: 0.9rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &__link {
            color: gray;
            display: inline;
        }
        button {
            margin-top: 1rem;
            padding: 0.75rem 2.5rem;
            background-color: $primary-color;
            border: 0;
            border-radius: 1rem;
            color: $bg-color;
            font-weight: 800;
            letter-spacing: 0.5px;
            cursor: pointer;
            font-family: "Gabarito", sans-serif;
        }
    }
    a {
        color: $primary-color;
    }
}

.form-div {
    padding: 1rem;
    input, textarea {
        padding: 0.5rem 1rem;
        margin-top: 0.5rem;
    }
    label {
        display: block;
        font-weight: bold;
    }
    button {
        padding: 1rem 2rem;
        background-color: $primary-color;
        color: $bg-color;
        border: 0;
    }
}

footer {
    margin: 2rem auto;
    padding: 4rem 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 110%;
}
footer {
    color: $white-color;
    background-color: $primary-color;
}
footer a {
    color: $accent-color;
}
@import "mobile";