

@import "colors";
@import "fonts";


// Reset of html and body
html, body {
    margin: 0;
    padding: 0;
    font-family: $secondary-font;
}
body {
    background-color: $bg-color;
    font-family: $secondary-font, $primary-fonts;
    color: $primary-color;
}
header {
    background-color: $primary-color;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #f7fcff;
    .logo-text {
        font-family: $secondary-font;
        font-size: 150%;
        font-weight: 800;
    }
    svg {
        fill: #fff;
        display: inline-block;
        height: 40px;
        vertical-align: middle;
        margin-right: 0.5rem;
    }
}
header a {
    color: $white-color;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}
#logo a {
    text-decoration: none;
    padding: 2rem;
}
main {
    padding: 5rem 5rem 15rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $main-bg-color;
}
a {
    color: $link-color;
}
a:hover {
    color: $accent-color;
}
a.active {
    color: yellow;
}

#menu {
    margin: 0;
    justify-content: space-between;
    line-height: 2.2rem;
    span {
        display: inline;
        padding-right: 1rem;
    }
}

h1 {
    font-family: "Gabarito";
    margin-top: 0;
}

picture {
    width: 50%;
    height: auto;
    img {
        width: 50%;
        height: auto;
    }
}

#products {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4rem;
    margin: 0 auto;
    a:hover {
        color: $link-hover-color;
    }
    img:hover {
        opacity: 0.8;
    }
    div {
        display: inline-grid;
        picture {
            aspect-ratio: 5/3;
            border-radius: 0.3rem;
            width: 100%;
            object-fit: cover;
            img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 5/3;
            }
        }
    }
    .main-event {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .product {
        background-color: #fff;
        line-height: 1.7;
        padding: 1.5rem;
        border-radius: 1rem;
        box-shadow: 10px 10px 18px -10px #c5d1d8;
        width: calc(100% - 2rem);
        &:hover {
            border-color: $primary-color;
            box-shadow: 10px 10px 18px -10px #8d8d8d;
            button {
                background-color: #222;
            }
        }
        &__name {
            font-weight: bold;
            font-size: 1.5rem;
            padding-bottom: 0.5rem;
            font-family: $secondary-font;
            font-weight: 800;
        }
        &__category {
            font-weight: 600;
            border-radius: 1rem;
        }
        &__price {
            color: #666;
            font-weight: 600;
        }
        &__description {
            font-size: 0.9rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &__link {
            color: gray;
            display: inline;
        }
        button {
            margin-top: 1rem;
            padding: 0.75rem 1.65rem;
            background-color: $primary-color;
            border: 0;
            border-radius: 1rem;
            color: $bg-color;
            font-weight: 800;
            letter-spacing: 0.5px;
            cursor: pointer;
            font-family: "Gabarito", sans-serif;
        }
    }
    a {
        color: $primary-color;
    }
}
.product-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    &__product-images {
        background-color: $white-color;
        padding: 2rem;
        border-radius: 1.5rem;
        width: calc(100% - 4rem);
        display: inline-grid;
        grid-column-start: 1;
        grid-column-end: 2;
        img {
            width: 100%;
            border-radius: 1rem;
        }
    }
    &__product-information {
        background-color: #fff;
        border-radius: 1.5rem;
        display: inline-grid;
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 1rem 3rem 2rem;
        width: calc(100% - 6rem);
        p {
            margin: 0.75rem 0;
        }
        .name {
            font-size: 190%;
        }
        .price {
            font-weight: 600;
            font-size: 150%;
            color: $secondary-color;
        }
        .category {
            font-weight: 600;
            text-transform: uppercase;
        }
        button {
            padding: 1rem 2rem;
            background-color: $primary-color;
            color: $white-color;
            font-weight: bold;
            border: 0;
            border-radius: 1rem;
            margin: 2rem 0;
            font-size: 110%;
            cursor: pointer;
        }
        button:hover {
            background-color: $secondary-color;
        }
    }
}

form {
    margin-top: 3rem;
}
fieldset {
    border: 1px solid lightblue;
    background: rgba(255, 255, 255, 0.5);
}
legend {
    font-weight: 600;
    font-size: 140%;
}
.form-div {
    padding: 1rem;
    input, textarea {
        padding: 0.5rem 1rem;
        margin-top: 0.5rem;
        border: 1px solid lightblue;
        border-radius: 0.5rem;
        color: $primary-color;
        font-weight: 600;
    }
    label {
        display: block;
        font-weight: bold;
    }
    button {
        padding: 1rem 2rem;
        background-color: $primary-color;
        color: $bg-color;
        border: 0;
    }
}
.upload-area {
    display: block;
}
input[type=file] {
    width: 80%;
    color: $white-color;
}
.img-upload-area {
    background-color: $primary-color;
    padding: 2rem 1rem;
    width: 20%;
    display: inline-block;
    color: $white-color;
}
footer {
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 110%;
}
footer {
    color: $white-color;
    background-color: $primary-color;
}
footer a {
    color: $accent-color;
}
@import "mobile";



/* Top menu from https://codepen.io/alvarotrigo/pen/ExwgbZv */
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 5rem;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 7rem;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      padding: 2.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      line-height: 0;
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }